 :root{
    /*nomedavariável: valor */ 
    --cor-de-fundo: #1e1e1e;
    --verde: #6fff57;
    --branco: #FFFFFF;
    --botão-ativo:  #3a375e;
    --botão-inativo: rgba(17, 15, 43, 0.3);
    --texto-fundo: rgba(11, 9, 32, 0.3);   
}
  *{
     
     color: var(--branco);
  }

  body{
    background-color: var(--cor-de-fundo);
  }

span{
    color:var(--verde);
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%; 
    margin: 0 auto;

}

.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}
.botao{
    background-color: var(--botão-inativo);
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 18px;
    border-bottom: 4px solid var(--botão-ativo);
    border-left: 2px solid var(--botão-ativo);
    border-right: 2px solid var(--botão-ativo);
}
.botao.ativo{
    background-color: var(--botão-ativo);
    border-bottom:4px solid var(--verde);
}
.aba-conteudo{
    display: none;
}

.aba-conteudo.ativo{
    display:block;
}
.aba-texto{
    background-color: var(--botão-inativo);
}

.botoes{
    display: block;
}

.botao:first-child{
    border-radius: 20px 20px 0 0;

}

.botao:last-child{
    border-radius: 0 0 20px 20px;

}
.abas-textos{

}
.aba-conteudo-titulo-principal{

}
.aba-conteudo-titulo-secundario{
    
}

@media  screen and (min-width: 700px) {
    .botoes{
        display: flex;
    }
    .botao:last-child{
        border-radius: 0 20px 20px 0;
    } 
    .botao:first-child{
         border-radius: 20px 0 0 20px;

    }
}