:root{
    /*nomedavariável: valor */ 
    --cor-de-fundo: #1e1e1e;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botão-ativo:  #3A3753;
    --botão-inativo: rgba(58,55,94,0,3);
    --texto-fundo:rgba(58,55,4,0,3);   
}
 *{
     background-color: var(--cor-de-fundo);
     color: var(--branco);
}
span{
    color:var(--verde);
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;

}

.titulo-pricipal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}
.botao{
    background-color: var(--botão-inativo);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 18px;
    width: 100%;
    border-bottom: 4px solid var(--botão-ativo);
    border-left: 2px solid var (var(--botão-ativo));
    border-right: 2px solid var(--botão-ativo);
}