:root{
    /*nomedavariável: valor */ 
    --cor-de-fundo: #1e1e1e;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botão-ativo:  #3A3753;
    --botão-inativo: rgba(58,55,94,0,3);
    --texto-fundo:rgba(58,55,4,0,3);   
}
 *{
     background-color: var(--cor-de-fundo);
     color: var(--branco);
}
span{
    color:var(--verde);
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}